# --- Directorios de compilación (Maven/Gradle) ---
**/target/
**/build/
**/bin/
.mvn/
mvnw
mvnw.cmd

# --- Archivos de configuración sensible ---
**/src/main/resources/application.properties
**/src/main/resources/application-*.properties
**/src/main/resources/application.yml
.env

# --- IntelliJ IDEA ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- VS Code ---
.vscode/

# --- Archivos del Sistema ---
.DS_Store
Thumbs.db

# --- Ayuda y Logs ---
HELP.md
*.log